source 'https://rubygems.org'

gem 'rake',     :require => false
gem 'ruby-app'
<%= "gem 'ruby-app-ar'" if ar %>
<%= "gem 'sqlite3'" if ar %>








group :production do
end

group :development do
end

group :test do 
  gem 'rspec', '~>2'  
end
